<!-- breadcrumb -->
<main id="main" class="main" style="margin-left: 0%; margin-top: 0%;">
    <div class="row">
        <div class="col-lg-4">
            <div class="pagetitle">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">Campaigns</a></li>
                        <li class="breadcrumb-item active">Etgodthelbred.dk</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-lg-4">
            <button class="badge rounded-pill bg-light text-dark mx-2">Phoners</button>
            <button class="badge rounded-pill bg-light text-dark mx-2">Teams</button>
            <button class="badge rounded-pill bg-light text-dark mx-2">Campaign Status</button>
            <button class="badge rounded-pill bg-light text-dark mx-2">Sales</button>
        </div>
    </div>

    <!-- Tabs start -->

    <div class="row" style="margin-top: 3%;">
        <div class="col-sm-2">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-folder mx-2"></i></a>
                        <span>Sweden campaigns</span>
                        <a class="icon" style="position:absolute; right: 0%;" href="#" data-bs-toggle="dropdown"><i
                                class="bi bi-three-dots-vertical mx-2"></i></a>
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-folder mx-2"></i></a>
                        <span>Construction</span>
                        <a class="icon" style="position:absolute; right: 0%;" href="#" data-bs-toggle="dropdown"><i
                                class="bi bi-three-dots-vertical mx-2"></i></a>
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="icon"><i class="bi bi-folder mx-2"></i></a>
                        <span>Team Denmark</span>
                        <a class="icon" style="position:absolute; right: 0%;"><i
                                class="bi bi-three-dots-vertical mx-2"></i></a>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Card start-->
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">Hotel giftcards</span>
                    <span class="badge mx-2" style="background-color: rgb(169, 211, 197);">Active</span>
                    <img src="https://preview.keenthemes.com/keen/theme/demo3/dist/assets/media/users/150-1.jpg"
                        alt="Avatar" class="avatar" style="margin-left: 20%;">
                    <img src="https://preview.keenthemes.com/keen/theme/demo3/dist/assets/media/users/150-10.jpg"
                        alt="Avatar" class="avatar">
                    <img src="https://preview.keenthemes.com/keen/theme/demo3/dist/assets/media/users/150-11.jpg"
                        alt="Avatar" class="avatar">
                    <img src="https://preview.keenthemes.com/keen/theme/demo3/dist/assets/media/users/150-2.jpg"
                        alt="Avatar" class="avatar">
                    <a class="icon" style="position:absolute; right: 0%;"><i
                            class="bi bi-three-dots-vertical mx-2"></i></a>
                </div>

                <div class="card-body " style="margin-left: 2%;">
                    <div class="row scrollspy-example">
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card" style="margin-top: 10%;">
                                <div class="card-body" style="text-align: center;">
                                    <span class="text-muted small pt-2 ps-1">Revenue</span>
                                    <h5 class="card-title">214K </h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card" style="margin-top: 10%;">
                                <div class="card-body" style="text-align: center;">
                                    <span class="text-muted small pt-2 ps-1">Conv.price</span>
                                    <h5 class="card-title">$120 </h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card" style="margin-top: 10%;">
                                <div class="card-body" style="text-align: center;">
                                    <span class="text-muted small pt-2 ps-1">Deals</span>
                                    <h5 class="card-title">321 </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <span> MONTHLY TARGET </span>
                    <div class="row" style="margin-top: 5%;">
                        <div class="col-sm-1">
                            <h2><i class="bi bi-hand-thumbs-up-fill" style="color: rgb(112, 212, 243);"></i></h2>
                        </div>
                        <div class="col">
                            <div>
                                <span style="color: black;">Deals</span>
                                <span style="position:absolute; right: 5%;color: black;">1123/4500</span>
                                <div class="progress" style="height: 7px; margin-bottom: 10%;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 45%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <h2><i class="bi bi-telephone-fill" style="color: rgb(7, 100, 61);"></i></h2>
                        </div>
                        <div class="col">
                            <div>
                                <span style="color: black;">Outbound calls</span>
                                <span style="position:absolute; right: 5%;color: black;">11.123/15.000</span>
                                <div class="progress" style="height: 7px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- second card -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header" style="height: 70px; align-items: center;">
                    <span class="card-title">Equipment Rental</span>
                    <span class="badge mx-2" style="background-color: rgb(233, 240, 192);">Draft</span>
                    <a class="icon" style="position:absolute; right: 0%;"><i
                            class="bi bi-three-dots-vertical mx-2"></i></a>
                </div>

                <div class="card-body " style="margin-left: 2%;">
                    <div class="row scrollspy-example">
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card" style="margin-top: 10%;">
                                <div class="card-body" style="text-align: center;">
                                    <span class="text-muted small pt-2 ps-1">Revenue</span>
                                    <h5 class="card-title">214K </h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card" style="margin-top: 10%;">
                                <div class="card-body" style="text-align: center;">
                                    <span class="text-muted small pt-2 ps-1">Conv.price</span>
                                    <h5 class="card-title">$120 </h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card" style="margin-top: 10%;">
                                <div class="card-body" style="text-align: center;">
                                    <span class="text-muted small pt-2 ps-1">Deals</span>
                                    <h5 class="card-title">321 </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <span> MONTHLY TARGET </span>
                    <div class="row" style="margin-top: 5%;">
                        <div class="col-sm-1">
                            <h2><i class="bi bi-hand-thumbs-up-fill" style="color: rgb(112, 212, 243);"></i></h2>
                        </div>
                        <div class="col">
                            <div>
                                <span style="color: black;">Deals</span>
                                <span style="position:absolute; right: 5%;color: black;">3223/4500</span>
                                <div class="progress" style="height: 7px; margin-bottom: 10%;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 75%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <h2><i class="bi bi-telephone-fill" style="color: rgb(7, 100, 61);"></i></h2>
                        </div>
                        <div class="col">
                            <div>
                                <span style="color: black;">Outbound calls</span>
                                <span style="position:absolute; right: 5%;color: black;">11.123/15.000</span>
                                <div class="progress" style="height: 7px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 45%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- third card -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">Covid-19 facemasks</span>
                    <span class="badge mx-2" style="background-color: rgb(169, 211, 197);">Active</span>
                    <img src="https://preview.keenthemes.com/keen/theme/demo3/dist/assets/media/users/150-1.jpg"
                        alt="Avatar" class="avatar" style="margin-left: 10%;">
                    <img src="https://preview.keenthemes.com/keen/theme/demo3/dist/assets/media/users/150-10.jpg"
                        alt="Avatar" class="avatar">
                    <img src="https://preview.keenthemes.com/keen/theme/demo3/dist/assets/media/users/150-11.jpg"
                        alt="Avatar" class="avatar">
                    <img src="https://preview.keenthemes.com/keen/theme/demo3/dist/assets/media/users/150-2.jpg"
                        alt="Avatar" class="avatar">
                    <a class="icon" style="position:absolute; right: 0%;"><i
                            class="bi bi-three-dots-vertical mx-2"></i></a>
                </div>

                <div class="card-body " style="margin-left: 2%;">
                    <div class="row scrollspy-example">
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card" style="margin-top: 10%;">
                                <div class="card-body" style="text-align: center;">
                                    <span class="text-muted small pt-2 ps-1">Revenue</span>
                                    <h5 class="card-title">214K </h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card" style="margin-top: 10%;">
                                <div class="card-body" style="text-align: center;">
                                    <span class="text-muted small pt-2 ps-1">Conv.price</span>
                                    <h5 class="card-title">$120 </h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card" style="margin-top: 10%;">
                                <div class="card-body" style="text-align: center;">
                                    <span class="text-muted small pt-2 ps-1">Deals</span>
                                    <h5 class="card-title">321 </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <span> MONTHLY TARGET </span>
                    <div class="row" style="margin-top: 5%;">
                        <div class="col-sm-1">
                            <h2><i class="bi bi-hand-thumbs-up-fill" style="color: rgb(112, 212, 243);"></i></h2>
                        </div>
                        <div class="col">
                            <div>
                                <span style="color: black;">Deals</span>
                                <span style="position:absolute; right: 5%;color: black;">2123/4500</span>
                                <div class="progress" style="height: 7px; margin-bottom: 10%;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 55%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <h2><i class="bi bi-telephone-fill" style="color: rgb(7, 100, 61);"></i></h2>
                        </div>
                        <div class="col">
                            <div>
                                <span style="color: black;">Outbound calls</span>
                                <span style="position:absolute; right: 5%;color: black;">11.123/15.000</span>
                                <div class="progress" style="height: 7px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>