<nav class="navbar navbar-expand-lg">
  <div class="container" style="margin-top: 1%;">
    <div>
      <span class="card-title">
        <div class="row">
          <div class="col-sm-1">
            <i class="bi bi-arrow-up-square" style="color: cadetblue;"></i>
          </div>
          <div class="col-sm-6">
            <h4 style="color: aliceblue; margin-bottom: 0%;">$216,726</h4>
            <a style="font-size: 50%; color: rgb(91, 94, 97);">Revenue this month</a>
          </div>
          <div class="col-sm-1">
            <h6 style="color: cadetblue;">+30%</h6>
          </div>
        </div>
      </span>
    </div>
    <div>
      <span class="card-title">
        <div class="row">
          <div class="col-sm-4">
            <img src="https://preview.keenthemes.com/keen/theme/demo3/dist/assets/media/users/150-2.jpg" alt="Avatar"
              class="img-nav">
            <h6 style="color: rgb(95, 91, 91);">Rob</h6>
          </div>
          <div class="col-sm-4">
            <img src="https://preview.keenthemes.com/keen/theme/demo3/dist/assets/media/users/150-1.jpg" alt="Avatar"
              class="img-nav">
            <h6 style="color: rgb(95, 91, 91);">Jessie</h6>
          </div>
          <div class="col-sm-4">
            <img src="https://preview.keenthemes.com/keen/theme/demo3/dist/assets/media/users/150-11.jpg" alt="Avatar"
              class="img-nav">
            <h6 style="color: rgb(95, 91, 91);">Ben</h6>
          </div>
        </div>
      </span>
    </div>
    <div>
      <span class="card-title">
        <div class="row">
          <div class="col-sm-1">
            <i class="bi bi-arrow-down-square" style="color: rgb(236, 112, 108);"></i>
          </div>
          <div class="col-sm-6">
            <h4 style="color: aliceblue; margin-bottom: 0%;">128,657</h4>
            <a style="font-size: 50%; color: rgb(91, 94, 97);">Meeting month</a>
          </div>
          <div class="col-sm-1">
            <h6 style="color: rgb(236, 112, 108);">-1.5%</h6>
          </div>
        </div>
      </span>
    </div>
    <div>
      <span class="card-title">
        <div class="row">
          <div class="col-sm-1">
            <i class="bi bi-arrow-up-square" style="color: cadetblue;"></i>
          </div>
          <div class="col-sm-6">
            <h4 style="color: aliceblue; margin-bottom: 0%;">62,872</h4>
            <a style="font-size: 50%; color: rgb(91, 94, 97);">Sales this month</a>
          </div>
          <div class="col-sm-1">
            <h6 style="color: cadetblue;">+2.5%</h6>
          </div>
        </div>
      </span>
    </div>
    <div>
      <span class="card-title">
        <div class="row">
          <div class="col-sm-1">
            <i class="bi bi-arrow-down-square" style="color: rgb(236, 112, 108);"></i>
          </div>
          <div class="col-sm-6">
            <h4 style="color: aliceblue; margin-bottom: 0%;">32,552</h4>
            <a style="font-size: 50%; color: rgb(91, 94, 97);">calls this month</a>
          </div>
          <div class="col-sm-1">
            <h6 style="color: rgb(236, 112, 108);">-1.5%</h6>
          </div>
        </div>
      </span>
    </div>
  </div>
</nav>